<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         bootstrap="./bootstrap.php">
         
     <testsuites>
        <testsuite name="All">
            <directory suffix="php">./lib</directory>
        </testsuite>
     </testsuites>
     
     <filter>
        <whitelist>
            <directory suffix="php">../src/</directory>
        </whitelist>
     </filter>
     
     <logging>
        <log type="coverage-html" target="../build/reports/coverage/" charset="utf8"
            yui="true" highlight="true" lowUpperBound="35" highLowerBound="80" />
        <log type="coverage-clover" target="../build/reports/coverage.xml" />
        <log type="junit" target="../build/reports/junit.xml" />
     </logging>
</phpunit>